* {
  box-sizing: border-box;
}

body {
  color: #000154;
  display: flex;
  font-family: arial, sans-serif;
  letter-spacing: 4px;
  margin: 0;
  width: 100%;
}



/* Box Colors */
.grey-square {
  background-color: #00FAC6;
}

.lace-square {
  background-color: #004675;
  text-shadow: -1px 0 #8EFA42, 0 1px #8EFA42, 1px 0 #8EFA42, 0 -1px #8EFA42;
}

.lightblue-rectangle, .lightblue-square {
  background-color: #00A6B7;
}

.paynesgrey-square {
  background-color: #8EFA42;
}

.rose-square {
  background-color: #F95040;
}



/* Main layout ccontrols */
.main-container {
  display: flex;
  justify-content: center;
}

.container-1 {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 60%;
}

#container-2 {
  align-items: center;
  background-color: #8EFA42;
  display: flex;
  height: 100vh;
  margin-left: -9px;
  width: 40%;
}



/* Box layout controls */
.grey-square, .lace-square, .lightblue-square, .paynesgrey-square, .rose-square {
  align-items: center;
  display: flex;
  flex: 1;
  height: 33.33vh;
  justify-content: center;
  margin: 0;
  min-width: 33.33%;
}

.lightblue-rectangle {
  display: inline-block;
  height: 33.33vh;
  margin: 0;
  max-width: 66.33%;
}



/* Image controls */
#blog img, #contact img, #education img, #experience img, #portfolio img, #profile img, #social-menu img {
  display: block;
  height: 30%;
  margin: auto;
  padding: 30px;
  width: 90%;
}

#container-2 img {
  height: 649px;
  margin: auto;
  width: 477px;
}

#rickIcon {
  display: none;
}



/* Buttons */
.button-container {
  margin: 0;
}

#resume-button , #contact-button {
  background-color: #00A6B7;
  border: 1px solid white;
  border-radius: 20%;
  cursor: pointer;
  font-size: 17px;
  height: 50px;
  margin: 0px 40px;
  padding-bottom: 0px;
  text-align: center;
  width: 130px;
}

#resume-button img, #contact-button img {
  display: inline-block;
  float: left;
  height: 25px;
  padding: 2px;
  width: 25px;
}

#resume-button:hover, #contact-button:hover {
  background-color: #004675;
  color: white;
}



/* Inner text element controls */
#character-name-text {
  font-size: 18px;
  margin: 10px 90px 20px 40px;
  min-width: 66.666%;
  overflow: hidden;
}

h1 {
  font-size: 50px;
  margin: 20px 40px;
  text-shadow: -1px 0 #8EFA42, 0 1px #8EFA42, 1px 0 #8EFA42, 0 -1px #8EFA42;
}

p:hover {
  cursor: pointer;
}

.square-title {
  font-size: 14px;
  text-align: center;
}



/*Media Queries*/
@media screen and (max-width: 1300px) {
  #character-name-text {
    font-size: 14px;
    margin: auto;
    width: 60%;
  }

  .container-1 {
    width: 100%;
  }

  #container-2 {
    width: 0px;
  }

  #container-2 img {
    display: none;
  }

  #contact-button, #resume-button {
    font-size: 15px;
    height: 40px;
    margin: 20px 30px 20px 0px;
  }

  .grey-square, .lace-square, .lightblue-square, .paynesgrey-square, .rose-square {
    display: flex;
    height: 33.33vh;
    margin: 0;
    overflow: visible;
    width: 33.33%;
  }

  h1 {
    display: inline-block;
    font-size: 35px;
    margin: auto;
    word-spacing: 10px;
  }

  .lightblue-rectangle {
    height: 40vh;
    text-align: center;
    width: 66.66vw;
  }

  #profile {
    height: 40vh;
  }

  #rickIcon {
    background-color: white;
    border: 2px solid yellow;
    border-radius: 50%;
    display: block;
    height: 70px;
    margin: 10px auto;
    width: 70px;
  }
}


/* Small + Mobile */
@media screen and (max-width: 950px) {
  .container-1 {
    height: 100vh;
  }

  .lightblue-rectangle {
    height: 15vh;
    min-width: 100%;
  }

  h1 {
    font-size: 20px;
    margin-top: 20px;
    word-spacing: 10px;
  }

  #rickIcon {
    float: left;
    margin: 20px 30px;
  }

  #resume-button, #contact-button {
    display: none;
  }

  .grey-square, .lace-square, .lightblue-square, .paynesgrey-square, #profile, .rose-square {
    border: 1px solid yellow;
    justify-content: flex-start;
    height: 13vh;
    min-width: 100%;
    overflow: visible;
  }

  #blog img, #contact img, #education img, #experience img, #portfolio img, #profile img, #social-menu img {
    display: none;
  }

  .square-title {
    font-size: 18px;
    margin-left: 30px;
  }

  html {
    height: 100vh;
  }
}


/* All phones */
@media screen and (max-width: 540px) {
  .lightblue-rectangle {
    height: 8vh;
    min-width: 100%;
  }

  h1 {
    margin-top: 20px;
  }

  .square-title {
    margin: auto;
  }

  #rickIcon, #resume-button , #character-name-text, #contact-button {
    display: none;
  }

}
