* {
  box-sizing: border-box;
}

body {
  color: #000154;
  display: flex;
  font-family: arial, sans-serif;
  letter-spacing: 4px;
  margin: 0;
  width: 100%;
}


/* Box Colors */
.grey-square {
  background-color: #00FAC6;
}

.lace-square {
  background-color: #004675;
  text-shadow: -1px 0 #8EFA42, 0 1px #8EFA42, 1px 0 #8EFA42, 0 -1px #8EFA42;
}

.lightblue-rectangle, .lightblue-square {
  background-color: #00A6B7;
}

.paynesgrey-square {
  background-color: #8EFA42;
}

.rose-square {
  background-color: #F95040;
}


/* Box Images */
#blog {
  background-image: url(assets/alien.png);
}

#contact {
  background-image: url(assets/atom.png);
}

#education {
  background-image: url(assets/flasks.png);
}

#experience {
  background-image: url(assets/ufo.png);
}

#portfolio {
  background-image: url(assets/pint.png);
}

#profile {
  background-image: url(assets/scientist.png);
}

#social-menu {
  background-image: url(assets/gun-blaster.png);
}

.grey-square, .lace-square, .lightblue-square, .paynesgrey-square, .rose-square {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: local;
  padding-top: 180px;
}


/* Carousel button controls */
.tick-1, .tick-2, .tick-3 {
  border: 1px solid black;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.tick-1, .tick-2, .left-arrow, .right-arrow {
  background-color: rgba(38, 12, 12, 0.3);
}

.tick-1 {
  position: absolute;
  top: 20px;
  right: 40px;
}

.tick-2 {
  position: absolute;
  top: 20px;
  right: 60px;
}

.tick-3 {
  background-color: rgba(255, 255, 255, 0.87);
  position: absolute;
  top: 20px;
  right: 20px;
}

.left-arrow, .right-arrow {
  border: 1px solid black;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.87);
  font-size: 35px;
  height: 40px;
  text-align: center;
  width: 40px;
}

.left-arrow {
  position: absolute;
  top: 45%;
  left: 61%;
}

.right-arrow {
  position: absolute;
  top: 45%;
  left: 96%;
}


/* Main layout ccontrols */
.main-container {
  display: flex;
  justify-content: center;
}

.container-1 {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 60%;
}

#container-2 {
  align-items: center;
  background-color: #8EFA42;
  display: flex;
  height: 100vh;
  margin-left: -9px;
  width: 40%;
}


/* Box layout controls */
.grey-square, .lace-square, .lightblue-square, .paynesgrey-square, .rose-square {
  align-items: center;
  display: flex;
  flex: 1;
  height: 33.33vh;
  justify-content: center;
  margin: 0;
  min-width: 33.33%;
}

.lightblue-rectangle {
  display: inline-block;
  height: 33.33vh;
  margin: 0;
  max-width: 66.6%;
}



/* Image controls */
#container-2 img {
  height: 649px;
  margin: auto;
  width: 477px;
}

#rickIcon, #resumeIcon2, #contactIcon2 {
  display: none;
}


/* Buttons */
.button-container {
  margin: 0;
}

#resume-button , #contact-button {
  background-color: #00A6B7;
  border: 1px solid white;
  border-radius: 20%;
  cursor: pointer;
  font-size: 17px;
  height: 50px;
  margin: 0px 40px;
  padding-bottom: 0px;
  text-align: center;
  width: 130px;
}

#resume-button img, #contact-button img {
  display: inline-block;
  float: left;
  height: 25px;
  padding: 2px;
  width: 25px;
}

#resume-button:hover, #contact-button:hover {
  background-color: #004675;
  color: white;
}


/* Inner text element controls */
#character-name-text {
  font-size: 18px;
  margin: 10px 90px 20px 40px;
  min-width: 66.666%;
  overflow: hidden;
}

h1 {
  font-size: 50px;
  margin: 20px 40px;
  text-shadow: -1px 0 #8EFA42, 0 1px #8EFA42, 1px 0 #8EFA42, 0 -1px #8EFA42;
}

p:hover {
  cursor: pointer;
}

.square-title {
  font-size: 14px;
  text-align: center;
}


/*Media Queries*/
@media screen and (max-width: 1300px) {
  #character-name-text {
    font-size: 13px;
    margin: auto;
    width: 60%;
  }

  .container-1 {
    width: 100%;
  }

  #container-2 {
    width: 0px;
  }

  #container-2 img {
    display: none;
  }

  .left-arrow, .right-arrow, .tick-1, .tick-2, .tick-3 {
    display: none;
  }

  #contact-button, #resume-button {
    font-size: 15px;
    height: 40px;
    margin: 10px 30px 0px 0px;
  }

  .grey-square, .lace-square, .lightblue-square, .paynesgrey-square, .rose-square {
    display: flex;
    height: 33.33vh;
    margin: 0;
    overflow: visible;
    width: 33.33%;
  }

  h1 {
    display: inline-block;
    font-size: 35px;
    margin: auto;
    word-spacing: 10px;
  }

  .lightblue-rectangle {
    height: 33.34%;
    padding-top: 20px;
    text-align: center;
  }

  #profile {
    height: 33.34%;
  }

  #rickIcon {
    background-color: white;
    border: 2px solid yellow;
    border-radius: 50%;
    display: block;
    height: 70px;
    margin: 10px auto;
    width: 70px;
  }
}


/* Medium */
@media screen and (max-width: 1045px) {
  .container-1 {
    height: 100vh;
  }

  .lightblue-rectangle {
    height: 12.5%;
    min-width: 100%;
  }

  h1 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    word-spacing: 10px;
  }

  #rickIcon {
    position: absolute;
    top: 0;
    left: 30px;
  }

  #resumeIcon2 {
    display: block;
    padding-right: 20px;
    position: absolute;
    right: 60px;
    top: 35px;
  }

  #contactIcon2 {
    display: block;
    padding-right: 20px;
    position: absolute;
    right: 20px;
    top: 35px;
  }

  #resume-button, #contact-button {
    display: none;
  }

  .grey-square, .lace-square, .lightblue-square, .paynesgrey-square, #profile, .rose-square {
    display: flex;
    justify-content: flex-start;
    height: 12.5%;
    min-width: 100%;
    overflow: visible;
      /* Box images */
      background-position: 95% 50%;
      background-size: 80px;
      padding: 50px 60px;
    }


  html {
    height: 100vh;
  }
}


/* All phones */
@media screen and (max-width: 700px) {
  .lightblue-rectangle {
    height: 13vh;
    min-width: 100%;
  }

  .square-title {
    margin: auto;
  }

  #rickIcon, #resume-button , #character-name-text, #contact-button {
    display: none;
  }

  #resumeIcon2 {
    top: 13px;
  }

  #contactIcon2 {
    top: 13px;
  }


/* Smaller */
@media screen and (max-width: 499px) {
  #blog, #contact, #education, #experience, #portfolio, #profile, #social-menu {
    background-image: none;
}

#resumeIcon2, #contactIcon2 {
  display: none;
}

  h1 {
  margin-left: 20px;
  }
