body {
  background-color: #FFFFFF;
  color: #000154;
  font-family: arial, sans-serif;
  width: 100%;
  letter-spacing: 3px;
  margin: 0;
}


p:hover {
  cursor: pointer;
}


/*Colors & Sizes - using classes*/
.lightblue-rectangle, .lightblue-square {
  background-color: #00A6B7;
}

.grey-square {
  background-color: #00FAC6;
}

.paynesgrey-square {
  background-color: #8EFA42;
}

.rose-square {
  background-color: #F95040;
}

.lace-square {
  background-color: #004675;
}

.lightblue-square, .grey-square, .paynesgrey-square, .rose-square, .lace-square {
  display: inline-block;
  height: 200px;
  width: 200px;
}

.lightblue-rectangle {
  display: inline-block;
  height:200px;
  padding: 0 0 0 10px;
  width: 450px;
}


/*Positioning - using Ids*/
#character-name {
  font-size: 30px;
  margin: 5px 0 0 15px;
  padding-top: 12px;
}

#character-name-text {
  font-size: 12px;
  margin: 5px 0 0 15px;
}

#profile img, #experience img, #education img, #blog img, #social-menu img, #contact img, #portfolio img{
  height: 70px;
  width: 70px;
  display: block;
  margin: auto;
  padding: 20px;
}

#resume-button, #contact-button {
  background-color: #CAEBF2;
  border: 2px solid white;
  border-radius: 20%;
  color: #63402F;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0 0 15px;
  padding: 10px;
  width: 90px;
}

#resume-button:hover, #contact-button:hover {
  background-color: #70B2B5;
}

.square-title {
  font-size: 14px;
  text-align: center;
}

#wrapper-1 {
  display: inline-block;
  height: 100%;
  width: 60%;
}

#wrapper-2 {
  display: inline-block;
  height: 100%;
  width: 39%;
}

#rick-pic {
  background-color: #8EFA42;
  border: 1px solid black;
  height: 449px;
  width: 330px;
}
